<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
  </head>
  <body>
    <section>
      <h1>I am the <%= what %></h1>
      <p>
        <a href="/login">Login</a>
        <a href="/logout">Logout</a>
      </p>
    </section>
  </body>
</html>
